<h1 mat-dialog-title>Edit the player</h1>
<div mat-dialog-content>
  <p>Change the player name.</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input maxlength="25" matInput [(ngModel)]="name" />
  </mat-form-field>
  <div class="profile">
    <p>Change the avatar for the game.</p>
    <label *ngFor="let profilePicture of profilePictures; let i = index">
      <img
        (click)="selectImage(profilePicture)"
        [class.selected]="profilePicture == selectedImage"
        src="assets/img/avatars/avatar-{{ profilePicture }}"
      />
    </label>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button
      mat-button
      color="warn"
      [mat-dialog-close]="'Delete'"
      cdkFocusInitial
    >
      Delete Player
    </button>
    <button
      mat-button
      [disabled]="name.length < 3 || !selectedImage"
      [mat-dialog-close]="{ name: name, selectedImage: selectedImage }"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
