.mat-mdc-form-field {
  width: 100%;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 300px;
  flex-wrap: wrap;

  label {
    margin: 0px 12px 0px 12px;
  }

  img {
    width: 64px;
    object-fit: contain;
    cursor: pointer;
  }

  .selected {
    border: 5px solid rgb(71, 88, 184);
    border-radius: 50%;
    background-color: rgb(71, 88, 184);
  }
}
